{# ------------------------------------------------------- #}

{# FOOTER #}

{# partial #}

{# ------------------------------------------------------- #}

<footer class="bg-light white hidden" id="footer">
	<div class="container">
		<nav id="footer-nav" class="row p2">
			<div class="col-sm-4">
				<a href="/" class="centered medium display-block">Home</a>
			</div>		
			<div class="col-sm-4">
				<a href="#content" class="jump centered medium display-block white">Back To Top</a>
				
			</div>	
			<div class="col-sm-4">
				<a href="/#prologue" class="centered medium display-block">About</a>
			</div>						
		</nav>
	</div>
</footer>
