
<section class="block table-of-contents site-table-of-contents bg-light padded" id="site-table-of-contents">
  	<div class="container">
		<div class="row">
	  		<div class="col-sm-12 mb3">
	  			<h2 class="medium uppercase tracked-more centered">Table of Contents</h2>
	  		</div>
	  	</div>
	  </div>
  	<div class="container-fluid">
	  	<div class="col-toc skinny">
  			<h4 class="uppercase m0 tracked">
				<a href="/#prologue">
					Prologue
				</a>
  			</h4>
	  	</div>
  		<div class="col-toc">
  			<h4 class="uppercase m0 tracked">
				<a href="/part1">
					Part 1 
				</a>
  			</h4>
  			<h5 class="mt0 mb1">	
				{{ cms.part1.part_title }}
  			</h5>			
			<ul>
				<li>
					<a href="/part1#section1">
						<span class="toc-section-number">1.1</span>
						<span>{{ cms.part1.section_1_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part1#section2">
						<span class="toc-section-number">1.2</span>
						<span>{{ cms.part1.section_2_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part1#section3">
						<span class="toc-section-number">1.3</span>
						<span>{{ cms.part1.section_3_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part1#section4">
						<span class="toc-section-number">1.4</span>
						<span>{{ cms.part1.section_4_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part1#section5">
						<span class="toc-section-number">1.5</span>
						<span>{{ cms.part1.section_5_title }}</span>
					</a>
				</li>																	
				<li>
					<a href="/part1#stopover">
						<span>Stopover: {{ cms.part1.stopover_title }}</span>
					</a>
				</li>
			</ul>	  		
  		</div>
  		<div class="col-toc">
  			<h4 class="uppercase m0 tracked">
				<a href="/part2">
					Part 2
				</a>
  			</h4>
  			<h5 class="mt0 mb1">	
				{{ cms.part2.part_title }}
  			</h5>			
			<ul>
				<li>
					<a href="/part2#section1">
						<span class="toc-section-number">2.1</span>
						<span>{{ cms.part2.section_1_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part2#section2">
						<span class="toc-section-number">2.2</span>
						<span>{{ cms.part2.section_2_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part2#section3">
						<span class="toc-section-number">2.3</span>
						<span>{{ cms.part2.section_3_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part2#section4">
						<span class="toc-section-number">2.4</span>
						<span>{{ cms.part2.section_4_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part2#section5">
						<span class="toc-section-number">2.5</span>
						<span>{{ cms.part2.section_5_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part2#section6">
						<span class="toc-section-number">2.6</span>
						<span>{{ cms.part2.section_6_title }}</span>
					</a>
				</li>																	
				<li>
					<a href="/part2#stopover">
						<span>Stopover: {{ cms.part2.stopover_title }}</span>
					</a>
				</li>
			</ul>	  		  		
  		</div>
  		<div class="col-toc">
  			<h4 class="uppercase m0 tracked">
				<a href="/part3">
					Part 3
				</a>
  			</h4>
  			<h5 class="mt0 mb1">	
				{{ cms.part3.part_title }}
  			</h5>			
			<ul>
				<li>
					<a href="/part3#section1">
						<span class="toc-section-number">3.1</span>
						<span>{{ cms.part3.section_1_title }}</span>
					</a>
				</li>
				<li>
					<a href="/part3#section2">
						<span class="toc-section-number">3.2</span>
						<span>{{ cms.part3.section_2_title }}</span>
					</a>
				</li>
			</ul>	  		
  		</div>	  		
  		<div class="col-toc skinny">
  			<h4 class="uppercase m0 tracked">
				<a href="/epilogue">
					Epilogue
				</a>
  			</h4>
  		</div>
  	</div>		  		
</section>	

