/********** @VARIABLES *********/
/********** @MIXINS *********/
/********** @RESET *********/
body:before {
  background: yellow;
  display: block;
  padding: 15px;
}

::selection {
  color: white;
  background: #002B57;
}

::-moz-selection {
  color: white;
  background: #002B57;
}

img, video, svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #222;
  text-decoration: none;
}
a:hover, a:focus {
  color: #002B57;
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  -webkit-padding-start: 0px;
}

* {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/*
OBJECTS
colors
margins and padding	
structure and position
backgrounds
animations
fancy objects
*/
/********** @MARGINS AND PADDING *********/
.m0 {
  margin-top: 0em;
  margin-bottom: 0em;
}

@media (min-width: 1201px) {
  .m0-lg {
    margin-top: 0em;
    margin-bottom: 0em;
  }
}
@media (max-width: 1200px) {
  .m0-md {
    margin-top: 0em;
    margin-bottom: 0em;
  }
}
@media (max-width: 992px) {
  .m0-sm {
    margin-top: 0em;
    margin-bottom: 0em;
  }
}
@media (max-width: 767px) {
  .m0-xs {
    margin-top: 0em;
    margin-bottom: 0em;
  }
}
.m1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (min-width: 1201px) {
  .m1-lg {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (max-width: 1200px) {
  .m1-md {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (max-width: 992px) {
  .m1-sm {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (max-width: 767px) {
  .m1-xs {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.m2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 1201px) {
  .m2-lg {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
@media (max-width: 1200px) {
  .m2-md {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
@media (max-width: 992px) {
  .m2-sm {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
@media (max-width: 767px) {
  .m2-xs {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
.m3 {
  margin-top: 3em;
  margin-bottom: 3em;
}

@media (min-width: 1201px) {
  .m3-lg {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
@media (max-width: 1200px) {
  .m3-md {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
@media (max-width: 992px) {
  .m3-sm {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
@media (max-width: 767px) {
  .m3-xs {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
.m4 {
  margin-top: 4em;
  margin-bottom: 4em;
}

@media (min-width: 1201px) {
  .m4-lg {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
@media (max-width: 1200px) {
  .m4-md {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
@media (max-width: 992px) {
  .m4-sm {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
@media (max-width: 767px) {
  .m4-xs {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
.m5 {
  margin-top: 5em;
  margin-bottom: 5em;
}

@media (min-width: 1201px) {
  .m5-lg {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
@media (max-width: 1200px) {
  .m5-md {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
@media (max-width: 992px) {
  .m5-sm {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
@media (max-width: 767px) {
  .m5-xs {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
.m6 {
  margin-top: 6em;
  margin-bottom: 6em;
}

@media (min-width: 1201px) {
  .m6-lg {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}
@media (max-width: 1200px) {
  .m6-md {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}
@media (max-width: 992px) {
  .m6-sm {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}
@media (max-width: 767px) {
  .m6-xs {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}
.m7 {
  margin-top: 7em;
  margin-bottom: 7em;
}

@media (min-width: 1201px) {
  .m7-lg {
    margin-top: 7em;
    margin-bottom: 7em;
  }
}
@media (max-width: 1200px) {
  .m7-md {
    margin-top: 7em;
    margin-bottom: 7em;
  }
}
@media (max-width: 992px) {
  .m7-sm {
    margin-top: 7em;
    margin-bottom: 7em;
  }
}
@media (max-width: 767px) {
  .m7-xs {
    margin-top: 7em;
    margin-bottom: 7em;
  }
}
.m8 {
  margin-top: 8em;
  margin-bottom: 8em;
}

@media (min-width: 1201px) {
  .m8-lg {
    margin-top: 8em;
    margin-bottom: 8em;
  }
}
@media (max-width: 1200px) {
  .m8-md {
    margin-top: 8em;
    margin-bottom: 8em;
  }
}
@media (max-width: 992px) {
  .m8-sm {
    margin-top: 8em;
    margin-bottom: 8em;
  }
}
@media (max-width: 767px) {
  .m8-xs {
    margin-top: 8em;
    margin-bottom: 8em;
  }
}
.m9 {
  margin-top: 9em;
  margin-bottom: 9em;
}

@media (min-width: 1201px) {
  .m9-lg {
    margin-top: 9em;
    margin-bottom: 9em;
  }
}
@media (max-width: 1200px) {
  .m9-md {
    margin-top: 9em;
    margin-bottom: 9em;
  }
}
@media (max-width: 992px) {
  .m9-sm {
    margin-top: 9em;
    margin-bottom: 9em;
  }
}
@media (max-width: 767px) {
  .m9-xs {
    margin-top: 9em;
    margin-bottom: 9em;
  }
}
.mb0 {
  margin-bottom: 0em;
}

@media (min-width: 1201px) {
  .mb0-lg {
    margin-bottom: 0em;
  }
}
@media (max-width: 1200px) {
  .mb0-md {
    margin-bottom: 0em;
  }
}
@media (max-width: 992px) {
  .mb0-sm {
    margin-bottom: 0em;
  }
}
@media (max-width: 767px) {
  .mb0-xs {
    margin-bottom: 0em;
  }
}
.mb1 {
  margin-bottom: 1em;
}

@media (min-width: 1201px) {
  .mb1-lg {
    margin-bottom: 1em;
  }
}
@media (max-width: 1200px) {
  .mb1-md {
    margin-bottom: 1em;
  }
}
@media (max-width: 992px) {
  .mb1-sm {
    margin-bottom: 1em;
  }
}
@media (max-width: 767px) {
  .mb1-xs {
    margin-bottom: 1em;
  }
}
.mb2, figure[data-type=quote] {
  margin-bottom: 2em;
}

@media (min-width: 1201px) {
  .mb2-lg {
    margin-bottom: 2em;
  }
}
@media (max-width: 1200px) {
  .mb2-md {
    margin-bottom: 2em;
  }
}
@media (max-width: 992px) {
  .mb2-sm {
    margin-bottom: 2em;
  }
}
@media (max-width: 767px) {
  .mb2-xs {
    margin-bottom: 2em;
  }
}
.mb3 {
  margin-bottom: 3em;
}

@media (min-width: 1201px) {
  .mb3-lg {
    margin-bottom: 3em;
  }
}
@media (max-width: 1200px) {
  .mb3-md {
    margin-bottom: 3em;
  }
}
@media (max-width: 992px) {
  .mb3-sm {
    margin-bottom: 3em;
  }
}
@media (max-width: 767px) {
  .mb3-xs {
    margin-bottom: 3em;
  }
}
.mb4 {
  margin-bottom: 4em;
}

@media (min-width: 1201px) {
  .mb4-lg {
    margin-bottom: 4em;
  }
}
@media (max-width: 1200px) {
  .mb4-md {
    margin-bottom: 4em;
  }
}
@media (max-width: 992px) {
  .mb4-sm {
    margin-bottom: 4em;
  }
}
@media (max-width: 767px) {
  .mb4-xs {
    margin-bottom: 4em;
  }
}
.mb5 {
  margin-bottom: 5em;
}

@media (min-width: 1201px) {
  .mb5-lg {
    margin-bottom: 5em;
  }
}
@media (max-width: 1200px) {
  .mb5-md {
    margin-bottom: 5em;
  }
}
@media (max-width: 992px) {
  .mb5-sm {
    margin-bottom: 5em;
  }
}
@media (max-width: 767px) {
  .mb5-xs {
    margin-bottom: 5em;
  }
}
.mb6 {
  margin-bottom: 6em;
}

@media (min-width: 1201px) {
  .mb6-lg {
    margin-bottom: 6em;
  }
}
@media (max-width: 1200px) {
  .mb6-md {
    margin-bottom: 6em;
  }
}
@media (max-width: 992px) {
  .mb6-sm {
    margin-bottom: 6em;
  }
}
@media (max-width: 767px) {
  .mb6-xs {
    margin-bottom: 6em;
  }
}
.mb7 {
  margin-bottom: 7em;
}

@media (min-width: 1201px) {
  .mb7-lg {
    margin-bottom: 7em;
  }
}
@media (max-width: 1200px) {
  .mb7-md {
    margin-bottom: 7em;
  }
}
@media (max-width: 992px) {
  .mb7-sm {
    margin-bottom: 7em;
  }
}
@media (max-width: 767px) {
  .mb7-xs {
    margin-bottom: 7em;
  }
}
.mb8 {
  margin-bottom: 8em;
}

@media (min-width: 1201px) {
  .mb8-lg {
    margin-bottom: 8em;
  }
}
@media (max-width: 1200px) {
  .mb8-md {
    margin-bottom: 8em;
  }
}
@media (max-width: 992px) {
  .mb8-sm {
    margin-bottom: 8em;
  }
}
@media (max-width: 767px) {
  .mb8-xs {
    margin-bottom: 8em;
  }
}
.mb9 {
  margin-bottom: 9em;
}

@media (min-width: 1201px) {
  .mb9-lg {
    margin-bottom: 9em;
  }
}
@media (max-width: 1200px) {
  .mb9-md {
    margin-bottom: 9em;
  }
}
@media (max-width: 992px) {
  .mb9-sm {
    margin-bottom: 9em;
  }
}
@media (max-width: 767px) {
  .mb9-xs {
    margin-bottom: 9em;
  }
}
.mt0 {
  margin-top: 0em;
}

@media (min-width: 1201px) {
  .mt0-lg {
    margin-top: 0em;
  }
}
@media (max-width: 1200px) {
  .mt0-md {
    margin-top: 0em;
  }
}
@media (max-width: 992px) {
  .mt0-sm {
    margin-top: 0em;
  }
}
@media (max-width: 767px) {
  .mt0-xs {
    margin-top: 0em;
  }
}
.mt1 {
  margin-top: 1em;
}

@media (min-width: 1201px) {
  .mt1-lg {
    margin-top: 1em;
  }
}
@media (max-width: 1200px) {
  .mt1-md {
    margin-top: 1em;
  }
}
@media (max-width: 992px) {
  .mt1-sm {
    margin-top: 1em;
  }
}
@media (max-width: 767px) {
  .mt1-xs {
    margin-top: 1em;
  }
}
.mt2, figure[data-type=quote] {
  margin-top: 2em;
}

@media (min-width: 1201px) {
  .mt2-lg {
    margin-top: 2em;
  }
}
@media (max-width: 1200px) {
  .mt2-md {
    margin-top: 2em;
  }
}
@media (max-width: 992px) {
  .mt2-sm {
    margin-top: 2em;
  }
}
@media (max-width: 767px) {
  .mt2-xs {
    margin-top: 2em;
  }
}
.mt3 {
  margin-top: 3em;
}

@media (min-width: 1201px) {
  .mt3-lg {
    margin-top: 3em;
  }
}
@media (max-width: 1200px) {
  .mt3-md {
    margin-top: 3em;
  }
}
@media (max-width: 992px) {
  .mt3-sm {
    margin-top: 3em;
  }
}
@media (max-width: 767px) {
  .mt3-xs {
    margin-top: 3em;
  }
}
.mt4 {
  margin-top: 4em;
}

@media (min-width: 1201px) {
  .mt4-lg {
    margin-top: 4em;
  }
}
@media (max-width: 1200px) {
  .mt4-md {
    margin-top: 4em;
  }
}
@media (max-width: 992px) {
  .mt4-sm {
    margin-top: 4em;
  }
}
@media (max-width: 767px) {
  .mt4-xs {
    margin-top: 4em;
  }
}
.mt5 {
  margin-top: 5em;
}

@media (min-width: 1201px) {
  .mt5-lg {
    margin-top: 5em;
  }
}
@media (max-width: 1200px) {
  .mt5-md {
    margin-top: 5em;
  }
}
@media (max-width: 992px) {
  .mt5-sm {
    margin-top: 5em;
  }
}
@media (max-width: 767px) {
  .mt5-xs {
    margin-top: 5em;
  }
}
.mt6 {
  margin-top: 6em;
}

@media (min-width: 1201px) {
  .mt6-lg {
    margin-top: 6em;
  }
}
@media (max-width: 1200px) {
  .mt6-md {
    margin-top: 6em;
  }
}
@media (max-width: 992px) {
  .mt6-sm {
    margin-top: 6em;
  }
}
@media (max-width: 767px) {
  .mt6-xs {
    margin-top: 6em;
  }
}
.mt7 {
  margin-top: 7em;
}

@media (min-width: 1201px) {
  .mt7-lg {
    margin-top: 7em;
  }
}
@media (max-width: 1200px) {
  .mt7-md {
    margin-top: 7em;
  }
}
@media (max-width: 992px) {
  .mt7-sm {
    margin-top: 7em;
  }
}
@media (max-width: 767px) {
  .mt7-xs {
    margin-top: 7em;
  }
}
.mt8 {
  margin-top: 8em;
}

@media (min-width: 1201px) {
  .mt8-lg {
    margin-top: 8em;
  }
}
@media (max-width: 1200px) {
  .mt8-md {
    margin-top: 8em;
  }
}
@media (max-width: 992px) {
  .mt8-sm {
    margin-top: 8em;
  }
}
@media (max-width: 767px) {
  .mt8-xs {
    margin-top: 8em;
  }
}
.mt9 {
  margin-top: 9em;
}

@media (min-width: 1201px) {
  .mt9-lg {
    margin-top: 9em;
  }
}
@media (max-width: 1200px) {
  .mt9-md {
    margin-top: 9em;
  }
}
@media (max-width: 992px) {
  .mt9-sm {
    margin-top: 9em;
  }
}
@media (max-width: 767px) {
  .mt9-xs {
    margin-top: 9em;
  }
}
.ml0 {
  margin-left: 0em;
}

@media (min-width: 1201px) {
  .ml0-lg {
    margin-left: 0em;
  }
}
@media (max-width: 1200px) {
  .ml0-md {
    margin-left: 0em;
  }
}
@media (max-width: 992px) {
  .ml0-sm {
    margin-left: 0em;
  }
}
@media (max-width: 767px) {
  .ml0-xs {
    margin-left: 0em;
  }
}
.ml1 {
  margin-left: 1em;
}

@media (min-width: 1201px) {
  .ml1-lg {
    margin-left: 1em;
  }
}
@media (max-width: 1200px) {
  .ml1-md {
    margin-left: 1em;
  }
}
@media (max-width: 992px) {
  .ml1-sm {
    margin-left: 1em;
  }
}
@media (max-width: 767px) {
  .ml1-xs {
    margin-left: 1em;
  }
}
.ml2 {
  margin-left: 2em;
}

@media (min-width: 1201px) {
  .ml2-lg {
    margin-left: 2em;
  }
}
@media (max-width: 1200px) {
  .ml2-md {
    margin-left: 2em;
  }
}
@media (max-width: 992px) {
  .ml2-sm {
    margin-left: 2em;
  }
}
@media (max-width: 767px) {
  .ml2-xs {
    margin-left: 2em;
  }
}
.ml3 {
  margin-left: 3em;
}

@media (min-width: 1201px) {
  .ml3-lg {
    margin-left: 3em;
  }
}
@media (max-width: 1200px) {
  .ml3-md {
    margin-left: 3em;
  }
}
@media (max-width: 992px) {
  .ml3-sm {
    margin-left: 3em;
  }
}
@media (max-width: 767px) {
  .ml3-xs {
    margin-left: 3em;
  }
}
.ml4 {
  margin-left: 4em;
}

@media (min-width: 1201px) {
  .ml4-lg {
    margin-left: 4em;
  }
}
@media (max-width: 1200px) {
  .ml4-md {
    margin-left: 4em;
  }
}
@media (max-width: 992px) {
  .ml4-sm {
    margin-left: 4em;
  }
}
@media (max-width: 767px) {
  .ml4-xs {
    margin-left: 4em;
  }
}
.ml5 {
  margin-left: 5em;
}

@media (min-width: 1201px) {
  .ml5-lg {
    margin-left: 5em;
  }
}
@media (max-width: 1200px) {
  .ml5-md {
    margin-left: 5em;
  }
}
@media (max-width: 992px) {
  .ml5-sm {
    margin-left: 5em;
  }
}
@media (max-width: 767px) {
  .ml5-xs {
    margin-left: 5em;
  }
}
.ml6 {
  margin-left: 6em;
}

@media (min-width: 1201px) {
  .ml6-lg {
    margin-left: 6em;
  }
}
@media (max-width: 1200px) {
  .ml6-md {
    margin-left: 6em;
  }
}
@media (max-width: 992px) {
  .ml6-sm {
    margin-left: 6em;
  }
}
@media (max-width: 767px) {
  .ml6-xs {
    margin-left: 6em;
  }
}
.ml7 {
  margin-left: 7em;
}

@media (min-width: 1201px) {
  .ml7-lg {
    margin-left: 7em;
  }
}
@media (max-width: 1200px) {
  .ml7-md {
    margin-left: 7em;
  }
}
@media (max-width: 992px) {
  .ml7-sm {
    margin-left: 7em;
  }
}
@media (max-width: 767px) {
  .ml7-xs {
    margin-left: 7em;
  }
}
.ml8 {
  margin-left: 8em;
}

@media (min-width: 1201px) {
  .ml8-lg {
    margin-left: 8em;
  }
}
@media (max-width: 1200px) {
  .ml8-md {
    margin-left: 8em;
  }
}
@media (max-width: 992px) {
  .ml8-sm {
    margin-left: 8em;
  }
}
@media (max-width: 767px) {
  .ml8-xs {
    margin-left: 8em;
  }
}
.ml9 {
  margin-left: 9em;
}

@media (min-width: 1201px) {
  .ml9-lg {
    margin-left: 9em;
  }
}
@media (max-width: 1200px) {
  .ml9-md {
    margin-left: 9em;
  }
}
@media (max-width: 992px) {
  .ml9-sm {
    margin-left: 9em;
  }
}
@media (max-width: 767px) {
  .ml9-xs {
    margin-left: 9em;
  }
}
.mr0 {
  margin-right: 0em;
}

@media (min-width: 1201px) {
  .mr0-lg {
    margin-right: 0em;
  }
}
@media (max-width: 1200px) {
  .mr0-md {
    margin-right: 0em;
  }
}
@media (max-width: 992px) {
  .mr0-sm {
    margin-right: 0em;
  }
}
@media (max-width: 767px) {
  .mr0-xs {
    margin-right: 0em;
  }
}
.mr1 {
  margin-right: 1em;
}

@media (min-width: 1201px) {
  .mr1-lg {
    margin-right: 1em;
  }
}
@media (max-width: 1200px) {
  .mr1-md {
    margin-right: 1em;
  }
}
@media (max-width: 992px) {
  .mr1-sm {
    margin-right: 1em;
  }
}
@media (max-width: 767px) {
  .mr1-xs {
    margin-right: 1em;
  }
}
.mr2 {
  margin-right: 2em;
}

@media (min-width: 1201px) {
  .mr2-lg {
    margin-right: 2em;
  }
}
@media (max-width: 1200px) {
  .mr2-md {
    margin-right: 2em;
  }
}
@media (max-width: 992px) {
  .mr2-sm {
    margin-right: 2em;
  }
}
@media (max-width: 767px) {
  .mr2-xs {
    margin-right: 2em;
  }
}
.mr3 {
  margin-right: 3em;
}

@media (min-width: 1201px) {
  .mr3-lg {
    margin-right: 3em;
  }
}
@media (max-width: 1200px) {
  .mr3-md {
    margin-right: 3em;
  }
}
@media (max-width: 992px) {
  .mr3-sm {
    margin-right: 3em;
  }
}
@media (max-width: 767px) {
  .mr3-xs {
    margin-right: 3em;
  }
}
.mr4 {
  margin-right: 4em;
}

@media (min-width: 1201px) {
  .mr4-lg {
    margin-right: 4em;
  }
}
@media (max-width: 1200px) {
  .mr4-md {
    margin-right: 4em;
  }
}
@media (max-width: 992px) {
  .mr4-sm {
    margin-right: 4em;
  }
}
@media (max-width: 767px) {
  .mr4-xs {
    margin-right: 4em;
  }
}
.mr5 {
  margin-right: 5em;
}

@media (min-width: 1201px) {
  .mr5-lg {
    margin-right: 5em;
  }
}
@media (max-width: 1200px) {
  .mr5-md {
    margin-right: 5em;
  }
}
@media (max-width: 992px) {
  .mr5-sm {
    margin-right: 5em;
  }
}
@media (max-width: 767px) {
  .mr5-xs {
    margin-right: 5em;
  }
}
.mr6 {
  margin-right: 6em;
}

@media (min-width: 1201px) {
  .mr6-lg {
    margin-right: 6em;
  }
}
@media (max-width: 1200px) {
  .mr6-md {
    margin-right: 6em;
  }
}
@media (max-width: 992px) {
  .mr6-sm {
    margin-right: 6em;
  }
}
@media (max-width: 767px) {
  .mr6-xs {
    margin-right: 6em;
  }
}
.mr7 {
  margin-right: 7em;
}

@media (min-width: 1201px) {
  .mr7-lg {
    margin-right: 7em;
  }
}
@media (max-width: 1200px) {
  .mr7-md {
    margin-right: 7em;
  }
}
@media (max-width: 992px) {
  .mr7-sm {
    margin-right: 7em;
  }
}
@media (max-width: 767px) {
  .mr7-xs {
    margin-right: 7em;
  }
}
.mr8 {
  margin-right: 8em;
}

@media (min-width: 1201px) {
  .mr8-lg {
    margin-right: 8em;
  }
}
@media (max-width: 1200px) {
  .mr8-md {
    margin-right: 8em;
  }
}
@media (max-width: 992px) {
  .mr8-sm {
    margin-right: 8em;
  }
}
@media (max-width: 767px) {
  .mr8-xs {
    margin-right: 8em;
  }
}
.mr9 {
  margin-right: 9em;
}

@media (min-width: 1201px) {
  .mr9-lg {
    margin-right: 9em;
  }
}
@media (max-width: 1200px) {
  .mr9-md {
    margin-right: 9em;
  }
}
@media (max-width: 992px) {
  .mr9-sm {
    margin-right: 9em;
  }
}
@media (max-width: 767px) {
  .mr9-xs {
    margin-right: 9em;
  }
}
.p0 {
  padding: 0em;
}

.p1 {
  padding: 1em;
}

.p2, figure[data-type=quote] {
  padding: 2em;
}

.p3 {
  padding: 3em;
}

.p4 {
  padding: 4em;
}

.p5 {
  padding: 5em;
}

.p6 {
  padding: 6em;
}

.p7 {
  padding: 7em;
}

.p8 {
  padding: 8em;
}

.p9 {
  padding: 9em;
}

.pt0 {
  padding-top: 0em;
}

.pt1 {
  padding-top: 1em;
}

.pt2 {
  padding-top: 2em;
}

.pt3 {
  padding-top: 3em;
}

.pt4 {
  padding-top: 4em;
}

.pt5 {
  padding-top: 5em;
}

.pt6 {
  padding-top: 6em;
}

.pt7 {
  padding-top: 7em;
}

.pt8 {
  padding-top: 8em;
}

.pt9 {
  padding-top: 9em;
}

.pb0 {
  padding-bottom: 0em;
}

.pb1 {
  padding-bottom: 1em;
}

.pb2 {
  padding-bottom: 2em;
}

.pb3 {
  padding-bottom: 3em;
}

.pb4 {
  padding-bottom: 4em;
}

.pb5 {
  padding-bottom: 5em;
}

.pb6 {
  padding-bottom: 6em;
}

.pb7 {
  padding-bottom: 7em;
}

.pb8 {
  padding-bottom: 8em;
}

.pb9 {
  padding-bottom: 9em;
}

.pl0 {
  padding-left: 0em;
}

.pl1 {
  padding-left: 1em;
}

.pl2 {
  padding-left: 2em;
}

.pl3 {
  padding-left: 3em;
}

.pl4 {
  padding-left: 4em;
}

.pl5 {
  padding-left: 5em;
}

.pl6 {
  padding-left: 6em;
}

.pl7 {
  padding-left: 7em;
}

.pl8 {
  padding-left: 8em;
}

.pl9 {
  padding-left: 9em;
}

.pr0 {
  padding-right: 0em;
}

.pr1 {
  padding-right: 1em;
}

.pr2 {
  padding-right: 2em;
}

.pr3 {
  padding-right: 3em;
}

.pr4 {
  padding-right: 4em;
}

.pr5 {
  padding-right: 5em;
}

.pr6 {
  padding-right: 6em;
}

.pr7 {
  padding-right: 7em;
}

.pr8 {
  padding-right: 8em;
}

.pr9 {
  padding-right: 9em;
}

.padded-less {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.padded {
  padding-top: 4%;
  padding-bottom: 4.25%;
}

.padded-more {
  padding-top: 8%;
  padding-bottom: 9%;
}

/********** @BACKGROUNDS *********/
.bg-light {
  background: #F1F1F1;
}

@media (min-width: 1201px) {
  .bg-light-lg {
    background: #F1F1F1;
  }
}
@media (max-width: 1200px) {
  .bg-light-md {
    background: #F1F1F1;
  }
}
@media (max-width: 992px) {
  .bg-light-sm {
    background: #F1F1F1;
  }
}
@media (max-width: 767px) {
  .bg-light-xs {
    background: #F1F1F1;
  }
}
.bg-white {
  background: white;
}

@media (min-width: 1201px) {
  .bg-white-lg {
    background: white;
  }
}
@media (max-width: 1200px) {
  .bg-white-md {
    background: white;
  }
}
@media (max-width: 992px) {
  .bg-white-sm {
    background: white;
  }
}
@media (max-width: 767px) {
  .bg-white-xs {
    background: white;
  }
}
.bg-medium {
  background: #9B9B9B;
}

.bg-medium-light {
  background: #DEE4E8;
}

.bg-brand {
  background: #002B57;
}

.bg-brand-light {
  background: #a4d1ff;
}

.bg-dark {
  background: #222;
}

.bg-yellow {
  background: yellow;
}

.bg-pink {
  background: pink;
}

.bg-orange {
  background: orange;
}

.bg-green {
  background: green;
}

.bg-gradient {
  background: #60b3ff;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

.background-cover {
  background-size: cover;
}

.background-mask-light:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  transition: all 0.75s 0s ease;
  -moz-transition: all 0.75s 0s ease;
  -webkit-transition: all 0.75s 0s ease;
  -o-transition: all 0.75s 0s ease;
  -ms-transition: all 0.75s 0s ease;
}

.background-mask-dark:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.28);
  transition: all 0.75s 0s ease;
  -moz-transition: all 0.75s 0s ease;
  -webkit-transition: all 0.75s 0s ease;
  -o-transition: all 0.75s 0s ease;
  -ms-transition: all 0.75s 0s ease;
}

.background-mask-brand:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 93, 189, 0.5);
  transition: all 0.75s 0s ease;
  -moz-transition: all 0.75s 0s ease;
  -webkit-transition: all 0.75s 0s ease;
  -o-transition: all 0.75s 0s ease;
  -ms-transition: all 0.75s 0s ease;
}

/********** @BORDERS AND SHADOWS *********/
.shadow {
  -o-box-shadow: 0 0 1px rgba(53, 50, 50, 0.35);
  -ms-box-shadow: 0 0 1px rgba(53, 50, 50, 0.35);
  -moz-box-shadow: 0 0 1px rgba(53, 50, 50, 0.35);
  -webkit-box-shadow: 0 0 1px rgba(53, 50, 50, 0.35);
  box-shadow: 0 0 1px rgba(53, 50, 50, 0.35);
}

.border {
  border: 2px solid;
}

.border-brand {
  border: 2px solid #002B57;
}

/********** @STRUCTURE AND POSITION *********/
.left {
  float: left;
}

.right {
  float: right;
}

.vertical-center {
  margin-top: 0;
  position: relative;
  top: 48%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

@media (min-width: 1201px) {
  .vertical-center-lg {
    margin-top: 0;
    position: relative;
    top: 48%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
  }
}
@media (max-width: 1200px) {
  .vertical-center-md {
    margin-top: 0;
    position: relative;
    top: 48%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
  }
}
@media (max-width: 992px) {
  .vertical-center-sm {
    margin-top: 0;
    position: relative;
    top: 48%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
  }
}
@media (max-width: 767px) {
  .vertical-center-xs {
    margin-top: 0;
    position: relative;
    top: 48%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
  }
}
.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.crop {
  overflow: hidden;
}

/********** @ANIMATIONS *********/
.fade-in {
  animation: fade-in 1s 0s 1 1;
  -ms-animation: fade-in 1s 0s 1 1;
  -webkit-animation: fade-in 1s 0s 1 1;
  -o-animation: move fade-in 1s 0s 1 1;
  -moz-animation: move fade-in 1s 0s 1 1;
  animation-fill-mode: ease;
  -webkit-animation-fill-mode: ease;
  -moz-animation-fill-mode: ease;
  -ms-animation-fill-mode: ease;
  -o-animation-fill-mode: ease;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fade-out 1s 0s 1 1;
  -ms-animation: fade-out 1s 0s 1 1;
  -webkit-animation: fade-out 1s 0s 1 1;
  -o-animation: move fade-out 1s 0s 1 1;
  -moz-animation: move fade-out 1s 0s 1 1;
  animation-fill-mode: ease;
  -webkit-animation-fill-mode: ease;
  -moz-animation-fill-mode: ease;
  -ms-animation-fill-mode: ease;
  -o-animation-fill-mode: ease;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-in-slide-up {
  animation: fade-in-slide-up 0.5s 1s 1 1;
  -ms-animation: fade-in-slide-up 0.5s 1s 1 1;
  -webkit-animation: fade-in-slide-up 0.5s 1s 1 1;
  -o-animation: move fade-in-slide-up 0.5s 1s 1 1;
  -moz-animation: move fade-in-slide-up 0.5s 1s 1 1;
  animation-fill-mode: ease;
  -webkit-animation-fill-mode: ease;
  -moz-animation-fill-mode: ease;
  -ms-animation-fill-mode: ease;
  -o-animation-fill-mode: ease;
  position: relative;
}

@-webkit-keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    top: 20px;
  }
  50% {
    opacity: 1;
    top: 6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-moz-keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    top: 20px;
  }
  50% {
    opacity: 1;
    top: 6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-ms-keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    top: 20px;
  }
  50% {
    opacity: 1;
    top: 6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-o-keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    top: 20px;
  }
  50% {
    opacity: 1;
    top: 6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    top: 20px;
  }
  50% {
    opacity: 1;
    top: 6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.fade-in-slide-down {
  animation: fade-in-slide-down 0.5s 1s 1 1;
  -ms-animation: fade-in-slide-down 0.5s 1s 1 1;
  -webkit-animation: fade-in-slide-down 0.5s 1s 1 1;
  -o-animation: move fade-in-slide-down 0.5s 1s 1 1;
  -moz-animation: move fade-in-slide-down 0.5s 1s 1 1;
  animation-fill-mode: ease;
  -webkit-animation-fill-mode: ease;
  -moz-animation-fill-mode: ease;
  -ms-animation-fill-mode: ease;
  -o-animation-fill-mode: ease;
  position: relative;
}

@-webkit-keyframes fade-in-slide-down {
  0% {
    opacity: 0;
    top: -20px;
  }
  50% {
    opacity: 1;
    top: -6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-moz-keyframes fade-in-slide-down {
  0% {
    opacity: 0;
    top: -20px;
  }
  50% {
    opacity: 1;
    top: -6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-ms-keyframes fade-in-slide-down {
  0% {
    opacity: 0;
    top: -20px;
  }
  50% {
    opacity: 1;
    top: -6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@-o-keyframes fade-in-slide-down {
  0% {
    opacity: 0;
    top: -20px;
  }
  50% {
    opacity: 1;
    top: -6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes fade-in-slide-down {
  0% {
    opacity: 0;
    top: -20px;
  }
  50% {
    opacity: 1;
    top: -6.66667px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
/********** @FANCY OBJECTS *********/
.loading {
  opacity: 0;
  transition: opacity 1s 0s ease;
  -moz-transition: opacity 1s 0s ease;
  -webkit-transition: opacity 1s 0s ease;
  -o-transition: opacity 1s 0s ease;
  -ms-transition: opacity 1s 0s ease;
}

.loaded {
  opacity: 1;
}

.block {
  position: relative;
  width: 100%;
  display: block;
  z-index: 1;
}
.block.crop {
  overflow: hidden;
}

.block-background {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center top;
}
.block-background:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  transition: all 0.75s 0s ease;
  -moz-transition: all 0.75s 0s ease;
  -webkit-transition: all 0.75s 0s ease;
  -o-transition: all 0.75s 0s ease;
  -ms-transition: all 0.75s 0s ease;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#edit-button {
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 10000;
  width: 40px;
  height: 40px;
  display: table;
  transition: all 0.75s 0s ease;
  -moz-transition: all 0.75s 0s ease;
  -webkit-transition: all 0.75s 0s ease;
  -o-transition: all 0.75s 0s ease;
  -ms-transition: all 0.75s 0s ease;
  background: #00f;
  padding: 5px 9px;
}
#edit-button:hover {
  bottom: 83px;
  background: #11f;
}

@font-face {
  font-family: 'modern_pictograms_proregular';
  src: url("/static/fonts/modernpictogramspro_234.eot");
  src: url("/static/fonts/modernpictogramspro_234?#iefix") format("embedded-opentype"), url("/static/fonts/modernpictogramspro_234.woff") format("woff"), url("/static/fonts/modernpictogramspro_234.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/********** @TYPOGRAPHY *********/
body {
  font-size: 14px;
  font-family: "SharpSansNo2-Semibold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222;
  letter-spacing: .01em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: normal;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: .01em;
}

h1, .h1 {
  font-size: 90px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 26px;
}

h4, .h4 {
  font-size: 19px;
}

h5, .h5 {
  font-size: 17px;
}

h6, .h6 {
  font-size: 14px;
}

p {
  font-size: 21px;
  line-height: 1.9;
}

.icon:before {
  content: attr(data-icon);
  font-family: "modern_pictograms_proregular";
  font-size: 27px;
  line-height: 100%;
  vertical-align: middle;
  position: relative;
}
.icon.large:before {
  font-size: 72px;
}

.ss-medium, figcaption {
  font-family: "SharpSansNo2-Medium";
}

.ss-semibold {
  font-family: "SharpSansNo2-Semibold";
}

.ss-extrabold {
  font-family: "SharpSansNo2-Extrabold";
}

.serif, .wysiwyg p {
  font-family: "ff-tisa-web-pro";
}

.tracked, #menu li a, .site-table-of-contents li span.toc-section-number {
  letter-spacing: .05em;
}

.tracked-more, .part-number, .part-title, #header a, #menu-toggle #label span {
  letter-spacing: .15em;
}

.part-number {
  margin: 0;
}

.part-title {
  line-height: 1;
  margin-top: 0em;
  margin-bottom: .5em;
}

.site-title {
  line-height: 1;
}

.site-subtitle {
  font-size: 1.65em;
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  h1, .h1 {
    font-size: 72px;
  }

  h2, .h2 {
    font-size: 36px;
  }

  h3, .h3 {
    font-size: 24px;
  }

  h4, .h4 {
    font-size: 17px;
  }

  h5, .h5 {
    font-size: 16px;
  }

  h6, .h6 {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }

  h1, .h1 {
    font-size: 48px;
  }

  h2, .h2 {
    font-size: 30px;
  }

  h3, .h3 {
    font-size: 21px;
  }

  h4, .h4 {
    font-size: 16px;
  }

  h5, .h5 {
    font-size: 14px;
  }

  h6, .h6 {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1, .h1 {
    font-size: 36px;
  }

  h2, .h2 {
    font-size: 24px;
  }

  h3, .h3 {
    font-size: 18px;
  }

  h4, .h4 {
    font-size: 15px;
  }

  h5, .h5 {
    font-size: 13px;
  }

  h6, .h6 {
    font-size: 13px;
  }
}
/********** @FORMATTING *********/
.uppercase {
  text-transform: uppercase;
}

.underline {
  border-bottom: 2px solid #F1F1F1;
}

.centered {
  text-align: center;
}

@media (min-width: 1201px) {
  .centered-lg {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .centered-md {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .centered-sm {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .centered-xs {
    text-align: center;
  }
}
.righted {
  text-align: right;
}

@media (min-width: 1201px) {
  .righted-lg {
    text-align: right;
  }
}
@media (max-width: 1200px) {
  .righted-md {
    text-align: right;
  }
}
@media (max-width: 992px) {
  .righted-sm {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .righted-xs {
    text-align: right;
  }
}
.lefted {
  text-align: left;
}

@media (min-width: 1201px) {
  .lefted-lg {
    text-align: left;
  }
}
@media (max-width: 1200px) {
  .lefted-md {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .lefted-sm {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .lefted-xs {
    text-align: left;
  }
}
.bold, figure[data-type=quote], figure[data-type=quote] blockquote, figure[data-type=quote] figcaption, figure[data-type=quote] cite {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.white {
  color: white;
}

.light {
  color: #F1F1F1;
}

.dark {
  color: #222;
}

.medium, #header a {
  color: #9B9B9B;
}

.brand {
  color: #002B57;
}

.red {
  color: red;
}

.righted {
  text-align: right;
}

@media (min-width: 1201px) {
  .righted-lg {
    text-align: right;
  }
}
@media (max-width: 1200px) {
  .righted-md {
    text-align: right;
  }
}
@media (max-width: 992px) {
  .righted-sm {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .righted-xs {
    text-align: right;
  }
}
.centered {
  text-align: center;
}

@media (min-width: 1201px) {
  .centered-lg {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .centered-md {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .centered-sm {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .centered-xs {
    text-align: center;
  }
}
/********** @MENU *********/
#menu {
  width: 512px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 130px 90px 100px 45px;
  background: #F1F1F1;
  z-index: 9;
  overflow: scroll;
  transform: translateX(-150%) scale(1.5);
  -moz-transform: translateX(-150%) scale(1.5);
  -webkit-transform: translateX(-150%) scale(1.5);
  -o-transform: translateX(-150%) scale(1.5);
  -ms-transform: translateX(-150%) scale(1.5);
  transition: transform 0.25s 0s ease;
  -moz-transition: transform 0.25s 0s ease;
  -webkit-transition: transform 0.25s 0s ease;
  -o-transition: transform 0.25s 0s ease;
  -ms-transition: transform 0.25s 0s ease;
  -webkit-transform-origin: center center;
  border-right: 1px solid #ddd;
}
#menu.open {
  transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -webkit-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
}
#menu li {
  line-height: 3;
}
#menu li a {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  font-size: 18px;
}
#menu li a:hover {
  color: #002B57;
  border-bottom: 2px solid #002B57;
}
#menu li a.active {
  border-bottom: 2px solid #222;
}
#menu li ul {
  margin-bottom: 2em;
  padding-left: 22px;
}
#menu li li {
  line-height: 1;
  margin-bottom: .5em;
}
#menu li li a {
  font-size: 14px;
}
#menu li li a.active {
  border-bottom: 2px solid #222;
}
#menu li li a:hover {
  border-bottom-color: transparent;
}

#blanket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: transparent;
  transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transition: background 0.8s 0s ease;
  -moz-transition: background 0.8s 0s ease;
  -webkit-transition: background 0.8s 0s ease;
  -o-transition: background 0.8s 0s ease;
  -ms-transition: background 0.8s 0s ease;
}
#blanket.on {
  transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  background: rgba(0, 43, 87, 0.35);
}

main, footer {
  transition: all 0.35s 0s ease;
  -moz-transition: all 0.35s 0s ease;
  -webkit-transition: all 0.35s 0s ease;
  -o-transition: all 0.35s 0s ease;
  -ms-transition: all 0.35s 0s ease;
}

.menu-open main, .menu-open footer {
  transform: translate(512px, 0);
  -moz-transform: translate(512px, 0);
  -webkit-transform: translate(512px, 0);
  -o-transform: translate(512px, 0);
  -ms-transform: translate(512px, 0);
}

/********** @HEADER *********/
#header {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 8;
}
#header a {
  font-size: 16px;
  text-transform: uppercase;
}
#header li {
  transition: transform 0.5s 0s ease;
  -moz-transition: transform 0.5s 0s ease;
  -webkit-transition: transform 0.5s 0s ease;
  -o-transition: transform 0.5s 0s ease;
  -ms-transition: transform 0.5s 0s ease;
  margin-bottom: 0em;
  margin-top: 0px;
}
#header.after li {
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}

#menu-toggle {
  position: fixed;
  width: 130px;
  top: 75px;
  left: 23px;
  z-index: 10;
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}
#menu-toggle #hamburger {
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.85);
  padding: 2px 7px;
}
#menu-toggle #hamburger .line {
  width: 18px;
  height: 2px;
  background: #002B57;
  display: block;
  margin: 5px auto;
  transition: all 0.35s 0s ease;
  -moz-transition: all 0.35s 0s ease;
  -webkit-transition: all 0.35s 0s ease;
  -o-transition: all 0.35s 0s ease;
  -ms-transition: all 0.35s 0s ease;
}
#menu-toggle #label {
  float: left;
  transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  opacity: 0;
  transition: all 0.35s 0s ease;
  -moz-transition: all 0.35s 0s ease;
  -webkit-transition: all 0.35s 0s ease;
  -o-transition: all 0.35s 0s ease;
  -ms-transition: all 0.35s 0s ease;
}
#menu-toggle #label span {
  font-size: 15px;
  position: relative;
  top: -2px;
  left: 10px;
}
#menu-toggle:hover #hamburger {
  background: #F1F1F1;
}
#menu-toggle:hover #label {
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  opacity: 1;
}

.menu-open #menu-toggle {
  background: #F1F1F1;
}
.menu-open #menu-toggle #hamburger {
  background: none;
}
.menu-open #menu-toggle #hamburger .line-1 {
  transform: rotate(-45deg) translate(0, 5px);
  -moz-transform: rotate(-45deg) translate(0, 5px);
  -webkit-transform: rotate(-45deg) translate(0, 5px);
  -o-transform: rotate(-45deg) translate(0, 5px);
  -ms-transform: rotate(-45deg) translate(0, 5px);
}
.menu-open #menu-toggle #hamburger .line-2 {
  display: none;
}
.menu-open #menu-toggle #hamburger .line-3 {
  transform: rotate(45deg) translate(-1px, -5px);
  -moz-transform: rotate(45deg) translate(-1px, -5px);
  -webkit-transform: rotate(45deg) translate(-1px, -5px);
  -o-transform: rotate(45deg) translate(-1px, -5px);
  -ms-transform: rotate(45deg) translate(-1px, -5px);
}
.menu-open #menu-toggle #label {
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  opacity: 1;
}
.menu-open #menu-toggle:hover #hamburger {
  background: #F1F1F1;
}

#cms {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 11;
  background: rgba(220, 220, 220, 0.1);
}

/********** @GLOBALS *********/
.row .row {
  margin-left: -5px;
  margin-right: -5px;
}

a {
  transition: all 0.125s 0s ease;
  -moz-transition: all 0.125s 0s ease;
  -webkit-transition: all 0.125s 0s ease;
  -o-transition: all 0.125s 0s ease;
  -ms-transition: all 0.125s 0s ease;
}

a:focus {
  color: #222;
}

a:hover {
  cursor: pointer;
}

.padded {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title, .subtitle, .section-title {
  position: relative;
}

.bordered {
  border: 3px solid #002B57;
}

.height-inherit {
  height: inherit;
  width: auto;
  max-width: none;
}

.col-toc {
  width: 23%;
  float: left;
  padding: 0 20px;
}
.col-toc.skinny {
  width: 14%;
}

.site-table-of-contents li {
  margin-bottom: 15px;
}
.site-table-of-contents li:hover span {
  border-bottom: 2px solid #002B57;
}
.site-table-of-contents li:hover .toc-section-number {
  border-bottom: 2px solid transparent;
}
.site-table-of-contents li span {
  font-size: 15px;
  display: inline-block;
  line-height: 1.25;
  border-bottom: 2px solid transparent;
}
.site-table-of-contents li span.toc-section-number {
  margin-right: 10px;
  color: #002B57;
}

#section1 {
  padding-top: 150px;
}

.divider {
  content: '';
  display: block;
  width: 160px;
  height: 8px;
  background: #003061;
  margin: 110px auto 150px auto;
}

.next .block-background video {
  opacity: .9;
}

.next-item h2, .next-item .icon:before, .next-item h3 {
  transition: color 0.1s 0s ease;
  -moz-transition: color 0.1s 0s ease;
  -webkit-transition: color 0.1s 0s ease;
  -o-transition: color 0.1s 0s ease;
  -ms-transition: color 0.1s 0s ease;
}
.next-item:hover h2, .next-item:hover .icon:before, .next-item:hover h3 {
  color: white;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  transition: all 0.25s 0s ease;
  -moz-transition: all 0.25s 0s ease;
  -webkit-transition: all 0.25s 0s ease;
  -o-transition: all 0.25s 0s ease;
  -ms-transition: all 0.25s 0s ease;
  transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -webkit-transform: translate(-100%, 0%);
  -o-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  background: #F1F1F1;
}
.modal.modal-slider {
  background: yellow;
}
.modal.on {
  transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

/********** @FIGURES BY WEBHOOK *********/
figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figure {
  position: relative;
}

figure[data-type=table] {
  clear: both;
}

figure[data-type=video] {
  position: relative;
  margin-bottom: 24px;
  text-align: center;
  clear: both;
}

figure[data-type=video] p {
  margin: 0;
}

figure[data-type=video].wy-figure-full p {
  position: relative;
  padding-bottom: 51%;
  width: 100%;
  height: 0;
}

figure[data-type=video].wy-figure-full iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

figure[data-type=image] {
  position: relative;
  margin-bottom: 24px;
}

figure[data-type=image] img {
  width: 100%;
}

figure[data-type=image].wy-figure-large {
  width: 100%;
  clear: both;
}

figure[data-type=image].wy-figure-medium {
  width: 50%;
}

figure[data-type=image].wy-figure-small {
  width: 33%;
}

figure[data-type=quote] {
  color: #002B57;
  position: relative;
}
figure[data-type=quote] blockquote {
  border: none;
}

figure[data-type=quote] figcaption {
  text-align: left;
}

figure[data-type=quote].wy-figure-right {
  width: 33%;
}

figure[data-type=quote].wy-figure-left {
  width: 33%;
  margin-right: 24px;
}

figure[data-type=quote] cite {
  display: block;
  text-align: left;
}

figure[data-type=quote] cite:before {
  content: "\2014\00a0";
}

.wy-figure-right {
  float: right;
  margin-left: 24px;
}

.wy-figure-right .wy-figure-controls {
  right: 0;
}

.wy-figure-left {
  float: left;
  margin-right: 24px;
}

@media screen and (max-width: 480px) {
  figure[data-type=image] {
    width: 100% !important;
    float: none !important;
    margin-left: 0;
    margin-right: 0;
  }

  figure[data-type=video] iframe {
    width: 100% !important;
    height: auto !important;
  }
}
/********** @STRUCTURE *********/
.wysiwyg p {
  margin-bottom: 30px;
}
.wysiwyg p, .wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
  padding: 0 60px;
  margin-bottom: 30px;
}
.wysiwyg h3 {
  margin-top: 0;
  margin-bottom: 40px;
}
.wysiwyg figure {
  margin-bottom: 75px;
}

.part-introduction .wysiwyg p {
  padding: 0;
}

figcaption {
  text-align: right;
  color: #9B9B9B;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 5px;
}

/********** @RESPONSIVE *********/
@media (max-width: 1200px) {
  .col-toc {
    padding: 0 10px;
  }
}
@media (max-width: 992px) {
  .wysiwyg p {
    padding: 30px;
    font-size: 18px;
  }

  .col-toc {
    width: 100%;
    float: none;
    padding: 0 30px 0 15px;
    margin-bottom: 40px;
  }

  .site-table-of-contents li {
    margin-bottom: 6px;
  }
  .site-table-of-contents li a {
    font-size: 12px;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  #menu {
    width: 320px;
    max-width: 320px;
    padding: 60px 30px 100px 30px;
  }

  .menu-open main, .menu-open footer {
    transform: translate(320px, 0);
    -moz-transform: translate(320px, 0);
    -webkit-transform: translate(320px, 0);
    -o-transform: translate(320px, 0);
    -ms-transform: translate(320px, 0);
  }

  #menu-toggle {
    top: 15px;
  }

  .wysiwyg p {
    padding: 15px;
    font-size: 16px;
  }

  .next-item {
    padding: 30px;
    min-height: 0;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
