

.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
	@include transition(all,.25s);
	@include transform(translate(-100%,0%));
	
	background: $light;

	&.modal-slider{
		background: yellow;
	}	





	&.on{
		@include transform(translate(0%,0%));
	}
}